<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Minecraft Plugin Search|Поиск плагинов Minecraft</title>
  <meta name = "description" content = "AuthMe - лучший плагин регистрации/авторизации для Spigot и Bukkit. Используйте его для защиты вашего сервера в автономном режиме или для защиты вашего сервера в режиме онлайн."> <!-- 120-160 -->

</head>
<body>
<meta name='wmail-verification' content='84f5f11a9dcac0264d39591f6b70b05e' />
<div id="app">
  <div class="search-wrapper">
    <input type="text" v-model="search" placeholder="Search..|Поиск.."/>
        <label>Search:|Поиск:</label>
  </div>
  <div class="wrapper">
    <div class="card" v-for="post in filteredList">
      <a v-bind:href="post.link" target="_blank">
        <img v-bind:src="post.img"/>

       <h2>{{ post.title }}</h2>
       <h4>{{ post.author }}</h4>
      </a>
    </div>
  </div>
</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.9/vue.min.js'></script>
  <script  src="./script1.js"></script>
  <script  src="./metrika.js"></script>
  <link rel="stylesheet" href="./style1.css">
</body>
</html>
